*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

#app{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 5px;
  height: 100vh;
}

.input-area, .output-area{
  height: calc(50vh - 10px);
  min-height: 50px;
  outline-width: 0;
  padding: 5px;
}

.input-area{
  resize: vertical;
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 2.5px;
  margin-bottom: 5px;
  color: #000;
}

.output-area{
  border: 1px solid hsl(0, 0%, 75%);
  overflow: auto;
  flex: 1 1 0;
}

code{
  color: hsl(120, 100%, 25%);
  background-color: hsl(120, 100%, 95%);
  padding: 2px 4px;
}

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 768px){
  .input-area, .output-area{
    flex: 0 0 calc(50% - 5px);
  }

  .input-area{
    height: calc(100vh - 10px);
    resize: none;
    margin-bottom: 0;
  }

  .output-area{
    min-height: calc(100vh - 10px);
  }

  .app{
    flex-wrap: nowrap;
  }
}
